.Welcome {
    justify-content: start;
    position: relative;
    text-align: center;
    min-height: 100vh !important;
}
.Welcome .equalizers {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0;
    /* width: 100%; */
    position: absolute;
    bottom: 0;
}
.Welcome img{
    width: min(100%,430px);
    height: min(30%,430px);
}
.Welcome main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    padding-top: 32px;
}

