/* import '@fontsource/roboto/300.css';
import '@fontsource/roboto/400.css';
import '@fontsource/roboto/500.css';
import '@fontsource/roboto/700.css'; */
/* * {
    transition: all 0.3s ease-in-out !important;
} */
.Page {
    display: flex;
    flex-direction: column;
    justify-content: start !important;
    align-items: center;
    width: 100%;
    min-height: calc(100vh - 56px);
    position: relative;
    padding: 48px 16px 16px 16px;
    gap: 32px;
}
